body {
	padding-top: 0;
	padding-bottom: 0;
	overflow-x: hidden;
}

.navbar-nav {
	text-transform: uppercase;
}

.navbar-brand {
	font-family: 'Cormorant Garamond', serif;
	font-weight: 600;
	font-size: 1.6em !important;
}

.nav-link {
	color: #fff !important;
	font-size: 1.1rem;
}

.nav-link:hover,
.nav-link:focus {
	text-decoration: underline;
}

.nav-item {
	text-align: center;
}

.fa-lg {
	font-size: 1.2em !important;
}

.drop-search {
	padding: 0;
}

.carousel-inner img {
	width: 100%;
	height: calc(100vh - 66px);
	object-fit: cover;
	overflow: hidden;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	height: 30px;
	width: 30px;
}

.border-3 {
	border: 1px solid #fff;
}
.icons img {
	display: inline-block;
	margin: 0 auto;
	width: 60px;
}

.card-body {
	position: relative;
}

.sale-badge {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	color: rgba(255,255,255);
	border-radius: 50%;
}

.card-product .card-img-back {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.card-product:hover .card-img-back {
	display: inline;
	transition: .5s;
}

.product-name {
	margin: .75rem !important;
}

.collage-title {
	line-height: 100%;
	font-size: 2rem;
}

.collage-img-div {
	position: relative;
}

.collage-img-div img {
	object-fit: contain;
	width: 100%;
}

.collage-badge-link {
	position: absolute;
	background: rgba(0,0,0,.5);
	border: 1px solid rgba(255,255,255);
	padding: 15px;
	color: rgba(255,255,255);
	cursor: pointer;
}

.collage-badge-link:hover {
	transform: scale(1.05);
}

.collage-badge-link:hover .fa-angle-right {
	transform: translateX(20px);
}

#collage-link-1 {
	top: 75%;
	left: 5%;
}

#collage-link-2 {
	top: 20%;
	right: 50%;
}

#collage-link-3 {
	top: 20%;
	right: 5%;
}

.fa-angle-right {
	vertical-align: middle;
	transition: .5s;
}

@media (max-width: 576px) {
	.carousel-inner img {
		height: 50vh;
		object-fit: cover;
		overflow: hidden;
	}

	.carousel-caption {
		padding: 24px 0 !important;
	}

	.carousel-caption h1 {
		font-size: 1.5rem !important;
	}
	.carousel-caption p{
		font-size: 1rem !important;
	}

	.icons img {
		width: 48px;
	}

	.image-row-col {
		padding: 0;
	}
	.card-img-overlay h4 {
		font-size: 1rem;
	}
	.card-img-overlay p {
		font-size: .8rem;
	}
	.card-img-overlay {
		-webkit-transition: font-size .2s;
		-o-transition: font-size .2s;
		transition: font-size .2s;
	}
	.card-img-overlay:hover {
		font-size: 1.5em;
	}
	.card-overlay:hover {
		opacity: 0.7;
	}

	.collage {
		width: 100% !important;
	}

	.collage-img-div {
		margin: 6px 12px;
	}
	.collage-badge-link {
		padding: 3px;
		max-width:100px;
		font-size: .75rem;
	}
	footer {
		padding-bottom: 0;
	}
}
