
	body {
		padding-top: 0;
		padding-bottom: 0;
		overflow-x: hidden;
	}
	.navbar-brand {
		font-family: 'Cormorant Garamond', serif;
		font-weight: 600;
		font-size: 1.6em !important;
	}
	.carousel-inner img {
		height: 80vh;
	}
	.border-3 {
		border: 1px solid #fff;
	}
	.icons img {
		display: inline-block;
		margin: 0 auto;
		width: 60px;
	}
	@media (max-width: 767.98px) {
	.carousel-inner img {
		height: 40vh;
	}
		.icons img {
			width: 48px;
		}
	}
	.card-img-overlay {
		-webkit-transition: font-size .2s;
		-o-transition: font-size .2s;
		transition: font-size .2s;
	}
	.card-img-overlay:hover{
		font-size: 1.5em;
	}
	.card-overlay:hover {
		opacity: 0.7;
	}
	footer {
		padding-bottom: 0;
	}